*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 300px;
    padding: 20px;
    border: 1px solid black;
    background-image: url(../Images/CSS\ Imagen\ 1.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
#titulo{
    box-shadow: 0 0;
    text-shadow: 0 2px 2px white;
}
nav{
    position: absolute;
    top: 400px;
}
a{
    display: block;
    height: 75px;
}
h1{
    position: center;
    height: 100px;
}
#logo{
    max-inline-size: 100px;
    position: absolute;
    top: 275px;
    left: 75%;
    background-color: #9c9c9c;
    border-radius: 15px;
}
.fotito{
    width: 350px;
    position: absolute;
    margin-left: 50%;
    border-radius:15px;
    top: 400px;
}
.subtitulo{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}
article{
    margin-left: 200px;
    margin-bottom: 50px;
}
h2{
    font-style: italic;
}