*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 300px;
    padding: 20px;
    border: 1px solid black;
    background-image: url(../Images/CSS\ Imagen\ 1.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
#titulo{
    text-shadow: 2px 2px white;
    font-size: 50px;
}
nav{
    position: absolute;
    top: 400px;
}
a{
    display: block;
    height: 75px;
}
h1{
    position: center;
    height: 100px;
}
#logo{
    max-inline-size: 100px;
    position: absolute;
    top: 260px;
    left: 75%;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid grey;
}
.fotito{
    display: none;
    width: 250px;
    position: absolute;
    margin-left: 70%;
    border-radius:15px;
    top: 400px;
    box-shadow: 3px 3px 3px;
}
.subtitulo{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}
article{
    margin-left: 200px;
    margin-bottom: 50px;
}
h3{
    font-style: italic;
}
.about{
    margin-right: 30%;
}
.mail{
    display: inline;
}
h4{
    margin-top: 25px;
}